<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar Context</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button> 
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button style="display: flex; justify-content: center; padding: 40px 30px 40px;"  color="warning"[routerLink]="['/home']">Ir al Home</ion-button>

  <h1>{{ Usuario }}</h1>
  <h1>{{ edad }}</h1>
  <h1>{{ Comuna }}</h1>

</ion-content>

