<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons> 
    <ion-title>
      Tu Mamita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Estas listo para ver a tu Mamita?</strong>
    <p>Anda a ver a tu mamita <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Mamita link</a></p>
    </div>
    <ion-button color="success"[routerLink]="['/login']">Ir al Login</ion-button>
</ion-content>
